In [1]:
import pandas as pd
import numpy as np
import json
from polyglot.text import Text
from polyglot.downloader import downloader
from textblob import TextBlob
import nltk
import timestring
from datetime import datetime

In [3]:
# tweets=pd.read_csv('datasets/pres_tweets.csv')
tweets = pd.read_csv('datasets/speeches/2016_all_entities.csv')

In [12]:
def get_entity_sentiment(e):
    try:
        pos=e.positive_sentiment
        neg=e.negative_sentiment
        return pos,neg
    except:
        return '',''
def get_sentiment(t):
    blob = TextBlob(str(t).decode('utf-8'))
    return map(lambda s:s.sentiment.polarity,blob.sentences)
def get_noun_phrases(t):
    blob = TextBlob(str(t).decode('utf-8'))
    return list(blob.noun_phrases)
def map_entity(e):
    pos,neg=get_entity_sentiment(e)
    return {'tag':e.tag,'entity':" ".join(e),'pos':pos,'neg':neg}
def get_entites(text):
    try:
        polyglot_text=Text(text)
        entities=polyglot_text.entities
        return map(map_entity,entities)
    except:
        return []
     
def map_to_data(tweet):
    user_name=tweet['user']['name']
    text=tweet['text']
    return {'text':text,'user':user_name,'entities':get_entites(text),'sentiment':get_sentiment(text),'noun_phrases':get_noun_phrases(text)}

In [5]:
# tweets['entities']=tweets['body'].map(get_entites)

In [6]:
tweets.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'url', u'Date', u'Title', u'Link',
       u'Actor', u'Texts', u'entities'],
      dtype='object')

In [20]:
tweets['Date_parsed'] = tweets.Date.apply(lambda x: datetime.strptime(x, '%B %d, %Y'))

In [22]:
tweets.Date_parsed.head()

0   2015-04-12
1   2015-04-14
2   2015-04-20
3   2015-04-29
4   2015-05-05
Name: Date_parsed, dtype: datetime64[ns]

In [16]:
tweets.Date.head()

0    April 12, 2015
1    April 14, 2015
2    April 20, 2015
3    April 29, 2015
4       May 5, 2015
Name: Date, dtype: object

In [24]:
tweets['displayName'] = tweets.Actor

In [7]:
body_col = 'Texts'

In [11]:
tweets['sentiment']=tweets[body_col].map(get_sentiment)

In [13]:
tweets['noun_phrases']=tweets[body_col].map(get_noun_phrases)

In [23]:
tweets['mean_sentiment']=tweets['sentiment'].map(lambda s:reduce(lambda x, y: x + y, s) / len(s))
tweets['postedTime_datetime']=tweets.Date_parsed.map(lambda x:pd.to_datetime(str(timestring.Date(x))))
tweets['postedTime_datetime']=pd.DatetimeIndex(tweets.Date_parsed)

In [25]:
tweets['displayName']=tweets['displayName'].replace('Senator Ted Cruz','Ted Cruz')
tweets['day']=tweets['postedTime_datetime'].map(lambda x:x.date())
tweets['week']=tweets['day'].map(lambda x:x.isocalendar()[1])

In [26]:
tweets.to_csv('datasets/speech_with_desc.csv')

In [36]:
dataToCorelation={}
candidates=['Bernie Sanders', 'Donald Trump', 'Hillary Clinton']
for candidate in candidates:
    candidateTweets=tweets[tweets['displayName']==candidate]
    
    dataToCorelation[candidate]=candidateTweets[['mean_sentiment','day']].groupby(['day']).mean().reset_index()

In [39]:
dataToCorelation

{'Bernie Sanders':             day  mean_sentiment  Bernie Sanders
 0    2015-04-30        0.078392        0.078392
 1    2015-05-01        0.129071        0.129071
 2    2015-05-02        0.082386        0.082386
 3    2015-05-10        0.071941        0.071941
 4    2015-05-14        0.043780        0.043780
 5    2015-05-15        0.138889        0.138889
 6    2015-05-19        0.106782        0.106782
 7    2015-05-20        0.073246        0.073246
 8    2015-05-22        0.000000        0.000000
 9    2015-05-26        0.057375        0.057375
 10   2015-05-28        0.161668        0.161668
 11   2015-05-29        0.179001        0.179001
 12   2015-05-30        0.109498        0.109498
 13   2015-05-31        0.098294        0.098294
 14   2015-06-01        0.055195        0.055195
 15   2015-06-02       -0.039299       -0.039299
 16   2015-06-06        0.136257        0.136257
 17   2015-06-08        0.160977        0.160977
 18   2015-06-13        0.148750        0.148750
 19   2015-06-14       -0.008785       -0.008785
 20   2015-06-17        0.055122        0.055122
 21   2015-06-19        0.077901        0.077901
 22   2015-06-21        0.068065        0.068065
 23   2015-06-22        0.123019        0.123019
 24   2015-06-23        0.044489        0.044489
 25   2015-06-24        0.060833        0.060833
 26   2015-06-25       -0.038715       -0.038715
 27   2015-06-26        0.134557        0.134557
 28   2015-06-28        0.086369        0.086369
 29   2015-06-30        0.062090        0.062090
 ..          ...             ...             ...
 296  2016-05-06        0.090055        0.090055
 297  2016-05-08        0.154002        0.154002
 298  2016-05-09        0.117041        0.117041
 299  2016-05-10        0.114119        0.114119
 300  2016-05-11        0.179994        0.179994
 301  2016-05-12        0.030397        0.030397
 302  2016-05-13        0.101513        0.101513
 303  2016-05-14        0.075205        0.075205
 304  2016-05-15        0.122381        0.122381
 305  2016-05-16        0.025194        0.025194
 306  2016-05-17        0.087781        0.087781
 307  2016-05-18        0.143182        0.143182
 308  2016-05-19        0.063889        0.063889
 309  2016-05-20        0.038287        0.038287
 310  2016-05-21        0.090164        0.090164
 311  2016-05-23        0.035680        0.035680
 312  2016-05-24        0.091139        0.091139
 313  2016-05-25        0.113074        0.113074
 314  2016-05-26        0.104211        0.104211
 315  2016-05-27        0.070366        0.070366
 316  2016-05-28        0.042361        0.042361
 317  2016-05-29        0.074418        0.074418
 318  2016-05-30       -0.017743       -0.017743
 319  2016-05-31        0.113653        0.113653
 320  2016-06-01        0.013132        0.013132
 321  2016-06-02       -0.030362       -0.030362
 322  2016-06-03       -0.083333       -0.083333
 323  2016-06-04        0.068209        0.068209
 324  2016-06-05        0.089373        0.089373
 325  2016-06-06        0.102711        0.102711

 [326 rows x 3 columns],
 'Donald Trump':             day  mean_sentiment  Donald Trump
 0    2015-06-16        0.070934      0.070934
 1    2015-06-17        0.052146      0.052146
 2    2015-06-18       -0.008989     -0.008989
 3    2015-06-22        0.173402      0.173402
 4    2015-06-23       -0.070000     -0.070000
 5    2015-06-26        0.157475      0.157475
 6    2015-07-06        0.061153      0.061153
 7    2015-07-07       -0.008817     -0.008817
 8    2015-07-08        0.060947      0.060947
 9    2015-07-10       -0.036905     -0.036905
 10   2015-07-13        0.037500      0.037500
 11   2015-07-14        0.103242      0.103242
 12   2015-07-15        0.010690      0.010690
 13   2015-07-16        0.179966      0.179966
 14   2015-07-23        0.107300      0.107300
 15   2015-07-24        0.081404      0.081404
 16   2015-07-29        0.180332      0.180332
 17   2015-08-03        0.004545      0.004545
 18   2015-08-17        0.034735      0.034735
 19   2015-08-19        0.350000      0.350000
 20   2015-09-03        0.020000      0.020000
 21   2015-09-11        0.000000      0.000000
 22   2015-09-17        0.000000      0.000000
 23   2015-09-20        0.000000      0.000000
 24   2015-09-22        0.102437      0.102437
 25   2015-09-28        0.103384      0.103384
 26   2015-09-30        0.000000      0.000000
 27   2015-10-02        0.157260      0.157260
 28   2015-10-08        0.062500      0.062500
 29   2015-10-09        0.099928      0.099928
 ..          ...             ...           ...
 88   2016-02-16        0.112500      0.112500
 89   2016-02-18        0.060863      0.060863
 90   2016-02-20       -0.060143     -0.060143
 91   2016-02-21        0.000000      0.000000
 92   2016-02-22        0.000000      0.000000
 93   2016-02-23        0.110474      0.110474
 94   2016-02-24        0.000000      0.000000
 95   2016-02-25        0.151902      0.151902
 96   2016-02-26        0.203422      0.203422
 97   2016-02-27        0.138451      0.138451
 98   2016-02-28        0.153818      0.153818
 99   2016-02-29        0.140442      0.140442
 100  2016-03-02        0.168185      0.168185
 101  2016-03-03        0.044243      0.044243
 102  2016-03-04        0.145313      0.145313
 103  2016-03-07       -0.046047     -0.046047
 104  2016-03-09       -0.050000     -0.050000
 105  2016-03-10        0.045098      0.045098
 106  2016-03-11        0.040044      0.040044
 107  2016-03-12        0.200926      0.200926
 108  2016-03-14        0.163567      0.163567
 109  2016-03-19        0.123977      0.123977
 110  2016-03-21        0.012624      0.012624
 111  2016-03-25        0.136607      0.136607
 112  2016-03-29        0.097057      0.097057
 113  2016-03-30        0.010004      0.010004
 114  2016-03-31        0.112374      0.112374
 115  2016-04-05       -0.090625     -0.090625
 116  2016-04-06        0.259877      0.259877
 117  2016-04-07        0.189786      0.189786

 [118 rows x 3 columns],
 'Hillary Clinton':             day  mean_sentiment  Hillary Clinton
 0    2015-04-12        0.110759         0.110759
 1    2015-04-14        0.155272         0.155272
 2    2015-04-20        0.104574         0.104574
 3    2015-04-28        0.111086         0.111086
 4    2015-04-29        0.076808         0.076808
 5    2015-05-05        0.094620         0.094620
 6    2015-05-10        0.311607         0.311607
 7    2015-05-18        0.113009         0.113009
 8    2015-05-19        0.037106         0.037106
 9    2015-05-20        0.147094         0.147094
 10   2015-05-27        0.081222         0.081222
 11   2015-06-04        0.095739         0.095739
 12   2015-06-13        0.105988         0.105988
 13   2015-06-15        0.110967         0.110967
 14   2015-07-12        0.085119         0.085119
 15   2015-07-13        0.113489         0.113489
 16   2015-09-09        0.070894         0.070894
 17   2015-09-17        0.149858         0.149858
 18   2015-09-20        0.056295         0.056295
 19   2015-09-27        0.086945         0.086945
 20   2015-10-01        0.055844         0.055844
 21   2015-10-02        0.180000         0.180000
 22   2015-10-03       -0.023333        -0.023333
 23   2015-10-04        0.082919         0.082919
 24   2015-10-05       -0.001251        -0.001251
 25   2015-10-07        0.186928         0.186928
 26   2015-10-08        0.072186         0.072186
 27   2015-10-09        0.046960         0.046960
 28   2015-10-11        0.028665         0.028665
 29   2015-10-12        0.127857         0.127857
 ..          ...             ...              ...
 148  2016-03-04        0.146296         0.146296
 149  2016-03-05        0.108762         0.108762
 150  2016-03-06        0.080739         0.080739
 151  2016-03-07        0.089545         0.089545
 152  2016-03-08        0.096116         0.096116
 153  2016-03-09        0.122003         0.122003
 154  2016-03-10        0.094241         0.094241
 155  2016-03-11        0.112609         0.112609
 156  2016-03-14        0.186557         0.186557
 157  2016-03-15        0.138736         0.138736
 158  2016-03-16       -0.002381        -0.002381
 159  2016-03-17        0.081902         0.081902
 160  2016-03-18        0.155547         0.155547
 161  2016-03-21        0.172717         0.172717
 162  2016-03-22        0.116394         0.116394
 163  2016-03-23       -0.021524        -0.021524
 164  2016-03-25        0.108430         0.108430
 165  2016-03-26        0.085770         0.085770
 166  2016-03-28        0.054744         0.054744
 167  2016-03-31        0.120327         0.120327
 168  2016-04-01        0.097479         0.097479
 169  2016-04-02        0.081818         0.081818
 170  2016-04-04        0.048437         0.048437
 171  2016-04-05        0.129420         0.129420
 172  2016-04-06        0.147222         0.147222
 173  2016-04-07        0.084130         0.084130
 174  2016-04-08        0.182738         0.182738
 175  2016-04-09        0.070763         0.070763
 176  2016-04-10        0.113322         0.113322
 177  2016-04-11        0.000000         0.000000

 [178 rows x 3 columns]}

In [37]:
cols=[]
headers=[]
dates=[]
for k,v in dataToCorelation.iteritems():
    v[k]=v['mean_sentiment']
    dates.append(list(v['day']))
    cols.append(list(v[k]))
    headers.append(k+' speeches')

In [38]:
import pickle
pickle.dump((cols,headers,dates),open('corelation_speeches.p','wb'))

In [ ]:
cand_col = ''

In [27]:
candidates=set(tweets['displayName'])
candidates

{'Bernie Sanders', 'Donald Trump', 'Hillary Clinton'}

In [29]:
data={}
for candidate in candidates:
    candidateTweets=tweets[tweets['displayName']==candidate]
    sentimentData=candidateTweets[['postedTime_datetime','mean_sentiment','day','week']]
    data[candidate]=sentimentData
#     sentimentData.set_index(sentimentData['postedTime_datetime'],inplace=True)
#     sentimentData=sentimentData.groupby(pd.TimeGrouper("D")).mean()
#     print candidate+': '+str(sentimentData['mean_sentiment'].std())
    sentimentData.to_csv('speech_sentiment/'+candidate+'.csv')

,postedTime_datetime,mean_sentiment,day,week,postedTime_datetime,mean_sentiment,day,week,postedTime_datetime,mean_sentiment,day,week,postedTime_datetime,mean_sentiment,day,week,postedTime_datetime,mean_sentiment,day,week
0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 23:32:23,0.000000,2015-06-04,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 23:06:04,0.200000,2015-06-04,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,NaT,NaN,NaN,NaN,2015-06-04 22:47:32,0.422222,2015-06-04,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,NaT,NaN,NaN,NaN,2015-06-04 22:44:17,0.103125,2015-06-04,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 22:41:33,0.300000,2015-06-04,23.0,NaT,NaN,NaN,NaN
5,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 22:35:37,0.30,2015-06-04,23.0
6,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 22:32:26,0.25,2015-06-04,23.0
7,NaT,NaN,NaN,NaN,2015-06-04 22:28:37,0.083333,2015-06-04,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 22:05:05,0.400000,2015-06-04,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9,2015-06-04 21:53:05,0.800000,2015-06-04,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
10,2015-06-04 21:26:09,0.053333,2015-06-04,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
11,2015-06-04 20:56:37,0.000000,2015-06-04,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
12,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:38:28,0.050000,2015-06-04,23.0,NaT,NaN,NaN,NaN
13,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:37:27,0.287500,2015-06-04,23.0,NaT,NaN,NaN,NaN
14,NaT,NaN,NaN,NaN,2015-06-04 20:37:02,0.450000,2015-06-04,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
15,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:35:06,0.357143,2015-06-04,23.0,NaT,NaN,NaN,NaN
16,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:33:15,0.216667,2015-06-04,23.0,NaT,NaN,NaN,NaN
17,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:32:27,0.000000,2015-06-04,23.0,NaT,NaN,NaN,NaN
18,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:32:18,0.072222,2015-06-04,23.0,NaT,NaN,NaN,NaN
19,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:31:47,0.000000,2015-06-04,23.0,NaT,NaN,NaN,NaN
20,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:31:16,0.000000,2015-06-04,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
21,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:30:40,0.183333,2015-06-04,23.0,NaT,NaN,NaN,NaN
22,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:30:07,-0.066667,2015-06-04,23.0,NaT,NaN,NaN,NaN
23,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:29:27,0.100000,2015-06-04,23.0,NaT,NaN,NaN,NaN
24,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:28:19,0.175000,2015-06-04,23.0,NaT,NaN,NaN,NaN
25,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:27:34,0.000000,2015-06-04,23.0,NaT,NaN,NaN,NaN
26,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:26:43,-0.050000,2015-06-04,23.0,NaT,NaN,NaN,NaN
27,NaT,NaN,NaN,NaN,2015-06-04 20:26:36,-0.077778,2015-06-04,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
28,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:25:53,0.285714,2015-06-04,23.0,NaT,NaN,NaN,NaN
29,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-06-04 20:24:58,0.000000,2015-06-04,23.0,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31968,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 18:22:03,0.000000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31969,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 18:21:04,0.075000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31970,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 18:03:18,0.000000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31971,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 17:23:24,0.200000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31972,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 17:19:16,0.136364,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31973,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 17:17:41,0.250000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31974,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 17:16:28,-0.250000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31975,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 17:16:25,0.000000,2016-06-07,23.0,NaT,NaN,NaN,NaN
31976,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 17:11:30,0.136364,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31977,2016-06-07 16:40:22,0.076705,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31978,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 15:45:16,0.000000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31979,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 15:40:59,0.000000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31980,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 15:39:52,0.081481,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31981,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 15:34:49,0.045455,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31982,2016-06-07 15:32:03,0.016667,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31983,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 15:28:53,0.068182,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31984,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 14:56:14,0.000000,2016-06-07,23.0,NaT,NaN,NaN,NaN
31985,2016-06-07 14:56:07,0.000000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31986,2016-06-07 14:18:38,-0.125000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31987,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 14:00:13,0.000000,2016-06-07,23.0,NaT,NaN,NaN,NaN
31988,2016-06-07 13:25:05,0.049394,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31989,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 13:18:04,0.000000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31990,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 12:47:14,0.800000,2016-06-07,23.0,NaT,NaN,NaN,NaN
31991,2016-06-07 12:34:53,-0.077273,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31992,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 12:05:04,0.100000,2016-06-07,23.0,NaT,NaN,NaN,NaN
31993,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 03:32:59,0.000000,2016-06-07,23.0,NaT,NaN,NaN,NaN
31994,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 02:50:45,0.266667,2016-06-07,23.0,NaT,NaN,NaN,NaN
31995,NaT,NaN,NaN,NaN,2016-06-07 02:21:08,-0.200000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
31996,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2016-06-07 02:11:27,0.169444,2016-06-07,23.0,NaT,NaN,NaN,NaN
31997,2016-06-07 02:09:08,0.000000,2016-06-07,23.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [95]:
downloader.download('ner2.sco',download_dir='/root/polyglot_data')

[polyglot_data] Error loading ner2.sco: Package u'ner2.sco' not found
[polyglot_data]     in index

False

NameError: name 'tweet' is not defined

In [139]:
entities_count = {}

In [126]:
# {for k, v tweets['entities']}

In [140]:
for row_id, tweet in tweets.iterrows():
    for ent in tweet['entities']:
        e = ent['entity']
        if e not in entities_count:
            entities_count.update({e: 1})
        else:
            entities_count[e] += 1

In [181]:
entities_count = {k.strip().encode('ascii','ignore'):v for k, v in entities_count.iteritems() if len(k) > 2 and v > 4}

In [182]:
entities_count

{': New Hampshire': 6,
 'ABC': 47,
 'ACA': 6,
 'AMERICA': 32,
 'AMERICA SAFE': 5,
 'Aberdeen': 6,
 'Adam': 16,
 'Affordable': 12,
 'Afghanistan': 10,
 'Aiken': 5,
 'Alabama': 34,
 'Alaska': 10,
 'Alberto Gonzales': 5,
 'America': 757,
 "America's": 7,
 'American': 60,
 'American Airlines Center': 5,
 'Ames': 16,
 'Ames , Iowa': 6,
 'Amir Hekmati': 5,
 'Amnesty': 6,
 'Anderson': 8,
 'Antonin Scalia': 7,
 'Apple': 7,
 'Arizona': 49,
 'Arkansas': 12,
 'Arnold': 5,
 'Assad': 6,
 'Atlanta': 24,
 'Austin': 5,
 'BET': 8,
 'BUSH': 7,
 'Baltimore': 11,
 'Barack Obama': 18,
 'Barbara Walters': 5,
 'Beijing': 8,
 'Ben': 11,
 'Ben Carson': 22,
 'Benghazi': 17,
 'Bern': 31,
 'Bernie': 314,
 'Bernie Sanders': 331,
 "Bernie Sanders's": 7,
 'BernieSanders': 25,
 'Biden': 9,
 'Big Pharma': 9,
 'Bill': 12,
 'Bill Clinton': 8,
 "Bill O'Reilly": 9,
 'Birmingham': 8,
 'Bloomberg': 8,
 'Bluffs , Iowa': 5,
 'Bob': 8,
 'Bob Vander Plaats': 7,
 'Bobby Knight': 7,
 'Boehner': 7,
 'Boston': 17,
 'Boulder': 5,
 'Breitbart': 11,
 'Brooklyn': 26,
 'Brussels': 19,
 'Buckeye': 11,
 'Buckeyes': 7,
 'Buckle': 5,
 'Buffalo': 5,
 'Burlington': 5,
 'Bush': 70,
 'CARSON': 11,
 'CBS': 47,
 'CNBC': 27,
 'CNN': 369,
 'CNN Iowa': 5,
 'CRUZ': 17,
 'California': 70,
 'Camp Cruz': 5,
 'Canada': 25,
 'Canadian': 5,
 'Capitol': 5,
 'Carly': 7,
 'Carly Fiorina': 24,
 'Carolina': 19,
 'Caroline': 17,
 'Carson': 50,
 'Carter': 5,
 'Catherine': 16,
 'Caucus': 5,
 'Cedar Rapids': 14,
 'Cedar Rapids , Iowa': 5,
 'Central': 5,
 'Central America': 7,
 'Charleston': 33,
 'Charlie Bass': 5,
 'Charlotte': 7,
 'Chattanooga': 12,
 'Chelsea': 5,
 'Cheney': 6,
 'Chicago': 42,
 'China': 47,
 'Chip': 10,
 'Chris': 9,
 'Chris Wallace': 19,
 'Christie': 12,
 'Chuck Todd': 5,
 'Cincinnati': 5,
 'Citizens': 13,
 'Citizens United': 18,
 'Claremont': 9,
 'Clemson': 8,
 'Cleveland': 20,
 'Clinton': 170,
 'Colorado': 45,
 'Colorado Springs': 5,
 'Columbia': 26,
 'Columbus': 16,
 'Concord': 20,
 'Concord , NH': 5,
 'Congrats': 22,
 'Congress': 9,
 'Connecticut': 13,
 'Conservative': 20,
 'Convention': 7,
 "Couldn't": 9,
 'Crooked Hillary': 11,
 'Crooked Hillary Clinton': 27,
 'Cruz Administration': 5,
 'Cruz https': 7,
 'Cuba': 33,
 'Cuban': 11,
 'Cuomo': 7,
 'D.C': 6,
 'DNC': 5,
 'DOJ': 16,
 'DONALD': 5,
 'DONALD TRUMP': 18,
 'Daily': 8,
 'Dallas': 28,
 'Danny Glover': 5,
 'Davenport': 10,
 'Davenport , Iowa': 5,
 'Dayton': 7,
 'Delaware': 8,
 'Democrat': 20,
 'Democratic': 91,
 'Democratic Party': 5,
 'Democrats': 13,
 'Dems': 12,
 'Denver': 9,
 'Department': 5,
 'Derry': 9,
 'Des': 5,
 'Des Moines': 71,
 'Des Moines , Iowa': 11,
 'Des Moines Register': 6,
 'Detroit': 23,
 'Dodd': 7,
 'Don': 9,
 'Donald': 116,
 'Donald J': 13,
 'Donald Trump': 496,
 "Donald Trump's": 30,
 'Donald Trumps': 15,
 'DonaldTrump': 15,
 'Dont': 11,
 'Dorchester': 7,
 'Dover': 7,
 'Drudge': 8,
 'Elizabeth Warren': 6,
 'Ellen': 5,
 'Emma': 9,
 'Eric': 7,
 'Eric Garner': 6,
 'Europe': 13,
 'Evansville': 8,
 'Exeter': 6,
 'Export': 9,
 'Exxon': 7,
 'FDR': 7,
 'FOX': 18,
 'Facebook': 16,
 'Fair': 5,
 'Federal': 5,
 'Federal Government': 5,
 'Flint': 63,
 'Flint , Michigan': 8,
 'Florence': 6,
 'Florida': 68,
 'Fmr': 8,
 'Forbes': 8,
 'Ford': 8,
 'Former': 7,
 'Fort Worth': 8,
 'Fox': 69,
 'Fox Business': 7,
 'Fox News': 38,
 'France': 8,
 'Frank': 8,
 'Franklin': 7,
 'Freddie Gray': 7,
 'Freedom': 5,
 'GMA': 21,
 'GOP': 221,
 'George': 8,
 'Georgia': 29,
 'Germany': 7,
 'Getty': 6,
 'Glenn Beck': 6,
 'Go Trump': 5,
 'Goldman Sachs': 20,
 'Goofy Elizabeth Warren': 11,
 'Gordon Humphrey': 7,
 'Gov': 113,
 'Graham': 7,
 'Grand Rapids': 6,
 'Granite State': 7,
 'Greenville': 35,
 'Greta': 15,
 'Growth': 8,
 'Guthrie Center': 5,
 'Guy': 5,
 'HRC': 28,
 'Hampshire': 21,
 'Hannity': 52,
 'Harriet Tubman': 6,
 'Harry Reid': 7,
 'Havana': 6,
 'Hawaii': 18,
 "He's": 25,
 'Heidi': 30,
 'Heidi Cruz': 33,
 'Henderson': 8,
 "Here's": 16,
 'Heritage': 7,
 'Hes': 9,
 'Hilary': 5,
 'Hillary': 6,
 'Hillary Clinton': 231,
 "Hillary Clinton's": 14,
 'Hillary Clintons': 6,
 "Hillary's": 20,
 'HillaryClinton': 14,
 'Hillarys': 9,
 'Hollywood': 7,
 'Hooksett': 5,
 'Hope': 39,
 "Hope you'll": 8,
 'Hope youll': 6,
 'House': 11,
 'Houston': 42,
 'Hudson': 5,
 'Huntsville': 8,
 "I'd": 8,
 "I'm": 98,
 "I've": 77,
 'ICE': 7,
 'IOWA': 17,
 'IRS': 9,
 'ISIS': 144,
 'Idaho': 19,
 'Ill': 41,
 'Illinois': 26,
 'Import Bank': 9,
 'Indiana': 83,
 'Indianapolis': 9,
 'Iowa': 557,
 'Iowa Caucus': 8,
 'Iowa City': 22,
 'Iowans': 17,
 'Iran': 189,
 'Iraq': 58,
 'Ireland': 6,
 'Israel': 94,
 "It's": 67,
 'Its': 31,
 'Ivanka': 7,
 'Ive': 5,
 'JEB': 7,
 'Jackson': 10,
 'Jacksonville': 5,
 'Jane Sanders': 6,
 'Jeb': 79,
 'Jeb Bush': 70,
 'Jeff Sessions': 5,
 'Jeff Weaver': 5,
 'Jefferson': 6,
 'Jerusalem': 13,
 'Jimmy Carter': 7,
 'Jobs': 10,
 'Joe': 8,
 'Joe McQuaid': 5,
 'John': 94,
 'John Boehner': 6,
 'John Kasich': 417,
 "John Kasich doesn't": 7,
 "John Kasich's": 51,
 'John Kasich.https': 12,
 'John Kerry': 6,
 'John McCain': 15,
 'John Roberts': 5,
 'John https': 61,
 'JohnKasich': 35,
 "JohnKasich's": 7,
 'Johnson': 5,
 'Jon Stewart': 8,
 'Kansas': 24,
 'Kasich': 207,
 "Kasich's": 9,
 'Keene': 13,
 'Keene , NH': 5,
 'Kelly': 11,
 'Ken': 5,
 'Kennedy': 5,
 'Kentucky': 24,
 'Kerry': 10,
 'Keystone': 9,
 'Keystone XL': 6,
 'Kim Davis': 6,
 'Kimmel': 6,
 'King': 6,
 'Koch': 25,
 'LBJ': 5,
 'Labor': 10,
 'Laconia': 8,
 'Las Vegas': 36,
 'Las Vegas , Nevada': 5,
 'Leadership': 6,
 "Let's": 61,
 'Lets': 29,
 'Liberty': 8,
 'Liberty University': 7,
 'Libya': 7,
 'Lincoln': 6,
 'Lindsey Graham': 12,
 'Little': 7,
 'Little Marco Rubio': 5,
 'Little Rock': 5,
 'Londonderry': 9,
 'Los Angeles': 7,
 'Louis': 10,
 'Louisiana': 13,
 'Lubbock': 5,
 'Lyin': 28,
 'MAGA': 5,
 'MAKE': 9,
 'MSNBC': 95,
 'Mackinac': 5,
 'Maddow': 8,
 'Madison': 18,
 'Madison , Wisconsin': 6,
 'Maine': 15,
 'Manchester': 52,
 'Manchester , New Hampshire': 7,
 'Marc': 5,
 'Marco': 19,
 'Marco Rubio': 60,
 'Marines': 7,
 'Mark Levin': 6,
 'Martin Luther King': 5,
 'Maryland': 18,
 'Mason City': 11,
 'Mason City , Iowa': 5,
 'Massachusetts': 14,
 'McCain': 19,
 'McConnell': 10,
 'Media': 11,
 'Megan': 5,
 'Megyn Kelly': 11,
 'Melania': 5,
 'Memphis': 7,
 'Merrimack': 5,
 'Mexican': 5,
 'Mexico': 61,
 'Miami': 18,
 'Michigan': 72,
 'Mike': 12,
 'Mike Lee': 9,
 'Mike Pence': 7,
 'Milford': 8,
 'Milwaukee': 12,
 'Minneapolis': 9,
 'Minnesota': 7,
 'Miss': 5,
 'Mississippi': 33,
 'Missouri': 15,
 'Mitch McConnell': 5,
 'Mitt Romney': 25,
 'Monmouth': 8,
 'Mount Pleasant': 6,
 'Mr Trump': 25,
 'Murfreesboro': 5,
 'Myrtle Beach': 12,
 'N.H': 30,
 'NAACP': 8,
 'NAFTA': 8,
 'NASA': 14,
 'NATO': 17,
 'NBC': 54,
 'NRA': 38,
 'NRO': 37,
 'NYC': 5,
 'Nancy Reagan': 5,
 'Nashua': 25,
 'Nashua , New Hampshire': 6,
 'Nashville': 7,
 'Nebraska': 13,
 'Nevada': 96,
 'New': 60,
 'New Hampshire': 328,
 'New Jersey': 11,
 'New Mexico': 10,
 'New York': 101,
 'New York City': 9,
 'New York Times': 14,
 'Newsweek': 5,
 'Norfolk': 5,
 'Normandy': 6,
 'North Carolina': 18,
 'North Dakota': 10,
 'North Korea': 5,
 "O'Malley": 5,
 'Oakland': 6,
 'Obama': 231,
 "Obama's": 17,
 'Obamacare': 18,
 'Obamas': 15,
 'Ohio': 341,
 'Ohioans': 9,
 'Oklahoma': 26,
 'Olivia': 5,
 'Oregon': 24,
 'Orlando': 27,
 'PAC': 7,
 'POTUS': 18,
 'Pacific': 5,
 'Pacific Partnership': 6,
 'Paris': 37,
 'Paul': 6,
 'Paul Ryan': 10,
 'Pelham': 8,
 'Pennsylvania': 40,
 'Perry': 11,
 'Pfizer': 5,
 'Phil Robertson': 22,
 'Philadelphia': 17,
 'Phoenix': 16,
 'Pittsburgh': 10,
 'Pocahontas': 6,
 'Politico': 5,
 'Pope': 8,
 'Pope Francis': 16,
 'Portland': 11,
 'Portland , Maine': 8,
 'Portsmouth': 24,
 'Portsmouth Herald': 5,
 'Post': 5,
 'Pres': 32,
 'Presidential': 6,
 'Prez': 7,
 'Provo': 8,
 'Puerto': 6,
 'Puerto Rico': 33,
 'Putin': 21,
 'Quinnipiac': 9,
 'RNC': 14,
 'RSVP': 33,
 'RUBIO': 11,
 'Rachel': 8,
 'Rafael Cruz': 8,
 'Raleigh': 6,
 'Rand Paul': 9,
 'Read': 35,
 'Reagan': 72,
 'Reese': 6,
 'Reid': 6,
 'Religious Liberty': 11,
 'Reno': 14,
 'Reno , Nevada': 5,
 'Republican': 191,
 'Republican Party': 27,
 'Republicans': 61,
 'Reuters': 14,
 'Rhode': 13,
 'Rick': 5,
 'Rick Perry': 14,
 'Rochester': 16,
 'Roe': 9,
 'Romney': 23,
 'Ronald Reagan': 31,
 'Roosevelt': 11,
 'Rosa': 5,
 'Rosa Parks': 6,
 'Rove': 8,
 'Rubio': 119,
 'Rush': 9,
 'Rush Limbaugh': 9,
 'Russia': 14,
 'S.C': 14,
 'SCOTUS': 76,
 'SEIU': 17,
 'SNL': 9,
 'Saeed Abedini': 6,
 'Said': 5,
 'Salem': 16,
 'San': 10,
 'San Antonio': 5,
 'San Bernardino': 11,
 'San Diego': 7,
 'San Francisco': 7,
 'San Jose': 6,
 'Sanders': 173,
 'Sandra Bland': 8,
 'Sandy Hook': 5,
 'Sarah': 5,
 'Saudi Arabia': 7,
 'Savannah': 5,
 'Scalia': 12,
 'Schwarzenegger': 33,
 'Scotland': 13,
 'Scott Walker': 14,
 'Seattle': 9,
 'Sec': 14,
 'Security': 23,
 'Sen': 135,
 'Sen Ted Cruz': 6,
 'Senate': 18,
 "She's": 12,
 'Shes': 5,
 'Sioux City': 17,
 'Sioux City , Iowa': 7,
 'Snyder': 9,
 'Social': 19,
 'Social Security': 51,
 'South': 16,
 'South Carolina': 165,
 'South Dakota': 5,
 'Spartanburg': 5,
 'Springfield': 5,
 'State': 28,
 'States': 20,
 'Steve': 5,
 'Steve King': 12,
 'Stevens': 5,
 'Stuart Stevens': 6,
 'Super': 10,
 'Supreme': 7,
 'Syracuse': 7,
 'Syria': 23,
 'TED': 12,
 'TEXANS': 5,
 'Tampa': 5,
 'Ted': 67,
 'Ted Cruz': 753,
 'Ted Cruz https': 41,
 "Ted Cruz's": 39,
 'Ted Cruzs': 22,
 'TedCruz': 14,
 'Teddy Roosevelt': 6,
 'Tell': 6,
 'Tennessee': 12,
 'Texans': 21,
 'Texas': 173,
 "That's": 18,
 'Thats': 8,
 'The': 9,
 "There's": 13,
 'Thx': 8,
 'Tim Macy': 5,
 'Tom Brady': 8,
 'Tom Moe': 6,
 'Trump': 14,
 'Trump University': 16,
 'Trump https': 9,
 "Trump's": 7,
 'Tulsa': 12,
 'Tupelo': 5,
 'Twitter': 16,
 'U.S': 105,
 'U.S .': 5,
 'U.S . Senate': 6,
 'U.S.A': 6,
 'USA': 43,
 'Ukraine': 11,
 'Union': 6,
 'United': 27,
 'United States': 164,
 'United States of America': 13,
 'Univision': 23,
 'Urbandale': 5,
 'Utah': 56,
 'Vegas': 15,
 'Verizon': 5,
 'Vermont': 28,
 'Veterans': 25,
 'Vets': 6,
 'Vietnam': 8,
 'Virginia': 33,
 'WHO': 5,
 'WIN': 21,
 'Wade': 8,
 'Walker': 18,
 'Wall': 39,
 'Walmart': 5,
 'Walton': 6,
 'Washington': 189,
 'Washington Post': 5,
 'Watch': 5,
 'Waterloo': 6,
 "We'll": 12,
 "We're": 32,
 "We've": 56,
 'Were': 17,
 'West': 8,
 'West Des Moines': 9,
 'West Virginia': 7,
 'White': 33,
 'White House': 6,
 'WhiteHouse': 7,
 'Will': 139,
 'Will Fox': 5,
 'Wilton': 6,
 'Wisconsin': 130,
 'Wolfeboro': 6,
 'Wyoming': 34,
 'YOU': 5,
 'York': 34,
 'Yorktown': 6,
 "You've": 8,
 'YouTube': 9,
 'abt': 19,
 "aren't": 5,
 'cant': 14,
 'cnn': 9,
 "didn't": 9,
 "doesn't": 10,
 'doesnt': 7,
 'dont': 7,
 'greta': 36,
 "hasn't": 5,
 "haven't": 9,
 "he'll": 6,
 "he's": 41,
 'hes': 14,
 'htt': 17,
 'https': 5,
 'illegals': 6,
 "isn't": 11,
 'isnt': 5,
 "it's": 22,
 'its': 12,
 "let's": 17,
 'lets': 5,
 'maddow': 16,
 'madeleine': 9,
 'msnbc': 9,
 'nbc': 9,
 'netanyahu': 8,
 'of Education': 6,
 'pharma': 6,
 'ppl': 22,
 'realDonaldTrump': 27,
 'sanders': 5,
 'scot': 6,
 "she's": 14,
 'shes': 7,
 "shouldn't": 22,
 'tedcruz': 59,
 "that's": 11,
 'thats': 7,
 "there's": 16,
 "they're": 6,
 "they've": 6,
 "today's": 7,
 "tonight's": 11,
 'tonights': 6,
 "we'll": 12,
 "we're": 24,
 "we've": 36,
 'well': 8,
 'were': 16,
 'weve': 16,
 "who's": 33,
 "who've": 6,
 'whos': 5,
 "y'all": 6,
 "you'll": 20,
 "you've": 28,
 'you.https': 6,
 'youll': 5,
 'youre': 17,
 'youve': 6}

In [183]:
len(entities_count)

689

In [136]:
for row_id, tweet in tweets.iterrows():
    for ent in tweet['entities']:
        if ent['entity'] not in entities:
            entities[ent['entity']].update({})

In [148]:
!pip2 install wordcloud

Collecting wordcloud
/usr/local/lib/python2.7/dist-packages/pip/_vendor/requests/packages/urllib3/util/ssl_.py:315: SNIMissingWarning: An HTTPS request has been made, but the SNI (Subject Name Indication) extension to TLS is not available on this platform. This may cause the server to present an incorrect TLS certificate, which can cause validation failures. For more information, see https://urllib3.readthedocs.org/en/latest/security.html#snimissingwarning.
  SNIMissingWarning
/usr/local/lib/python2.7/dist-packages/pip/_vendor/requests/packages/urllib3/util/ssl_.py:120: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. For more information, see https://urllib3.readthedocs.org/en/latest/security.html#insecureplatformwarning.
  InsecurePlatformWarning
  Using cached wordcloud-1.2.1.tar.gz
Building wheels for collected packages: wordcloud
  Running setup.py bdist_wheel for wordcloud ... - \ done
  Stored in directory: /root/.cache/pip/wheels/29/9a/a9/86dcbbd5a7b6ace25887e4351a0136ea6dfcc0dd7de0a51357
Successfully built wordcloud
Installing collected packages: wordcloud
Successfully installed wordcloud-1.2.1
You are using pip version 8.1.0, however version 8.1.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [149]:
from wordcloud import WordCloud

In [184]:
wordcloud = WordCloud(background_color="white").generate_from_frequencies(entities_count)

ValueError: could not convert string to float: y

In [ ]:
# def draw_wc_filtered(df, top_n=10, save=False, agg_col=u'Quantity'): 
#     df = pd.DataFrame(df.groupby(u'Group').sum()[agg_col]).sort(
#         agg_col, ascending=False).ix[:top_n].reset_index()
#     df.Group = df.Group.apply(lambda x: x.split(' - ')[1])
#     counts = [((x[1]['Group'].decode('utf-8'), x[1][agg_col])) for x in df.iterrows()]
# #     print counts
wordcloud = WordCloud(background_color="white").generate_from_frequencies(counts)
plt.figure(figsize=(9, 12))
plt.imshow(wordcloud)
plt.axis("off")
plt.show()
#     if save:
#         plt.savefig('wc/{}.png'.format(save))